/* styles.css */

/* Container styles */
.container {
    /* width: 70%; */
    margin: 4rem auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* margin: 0 auto; */
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: space-between;
}

/* Button styles */
.login-button,
.signup-button,
.view-products-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover,
.signup-button:hover,
.view-products-button :hover {
    background-color: #0056b3;
}