<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>Welcome, <span class="name">{{ user['name'] }}</span></h1>
        <div class="search-and-products">
            <!-- Search form -->
            <div class="recommended-products ">
                <h2>Recommended Products</h2>
                <form action="/search" method="GET" class="search-form">
                    <i class="ri-search-line icon" onclick={onSearch()}></i>

                </form>
            </div>
            <ul class="product-list">
                {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.image }}" alt="image">
                    <h2 class="product-title">{{ product.name }}</h2>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-price">${{ product.price }}</p>
                    <div class="card-bottom">
                        <button class="category">{{product.category}}</button>
                        <i id="{{ product.name.replace(' ','') }}" class=" ri-heart-line like_icon"
                            onclick="handleProductClick(' {{ product.name }}', '{{ product.name }}' )"></i>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
<script>
    const onSearch = () => {
        document.querySelector(".search-form").innerHTML = `<input type="text" name="query" placeholder="Search products...">
                    <button type="submit">Search</button>`
    }

    const handleProductClick = async (id, title) => {
        console.log(id)
        id = id.replace(/ /g, '');
        const element = document.getElementById(id);
        if (element.classList.contains('ri-heart-line')) {
            element.classList.remove('ri-heart-line');
            element.classList.add('ri-heart-fill');
            element.style.color = "red"
        }
        else {
            element.classList.remove('ri-heart-fill');
            element.classList.add('ri-heart-line');
            element.style.color = "black"
        }




        console.log(id, title)
        const res = await fetch('/record_interaction', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json' // Specify the content type as JSON
            },
            body: JSON.stringify({ product_id: title })

        })

        const data = await res.json();
        console.log(data)
    }
</script>




</html>